.breadcrumbs {
  margin: 0 20px; }

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.item:not(:last-child)::after {
  content: '/';
  margin-left: 5px;
  margin-right: 5px;
  font-size: 17px;
  line-height: 20px; }